
$secondary: purple;

@import "~bootstrap/scss/bootstrap";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Noto+Sans+KR&family=Inter&display=swap');

$book:#ffbb33;

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #ffffcc;
    font-family: 'Noto Sans KR', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Inter', sans-serif;
    padding-bottom: 15px;
}
.nav-color {
    background-color: $book;
}

.nav-color .navbar-brand {
    color: theme-color('light');
}

/* change the link color */
.nav-color .navbar-nav .nav-item .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.nav-color .nav-item.active .nav-link,
.nav-color .nav-item:hover .nav-link {
    color: #ffffff;
}


ul {
    list-style-type: none;
}

.container-fluid.app {
    min-height:90%;
    margin: 0 0 45px;
    padding-left: 30px;
    padding-right: 30px;
}

.container-fluid.login {
    padding: 0;
}
.container-fluid > .row.index {
    background: #ffe4b5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ffffcc, #ffe4b5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ffffcc, #ffe4b5);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    margin: 0;
    padding: 0;
}

.not-displayed {
    display: none;
}

.container.books {
    padding-bottom: 15px;
}
.welcome {
    background: no-repeat 10% url('../images/books.jpg');
    background-size: cover;
}

.footer {
    position: absolute;
    padding-left: 20px;
    bottom: 0;
    width: 100%;
    height: 45px;
    line-height: 45px;
    background-color: $book;
    color: theme-color('light');
}

.right {
    text-align: right;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset_password {
    padding: 15px;
}
.reset_password form {
    width: 500px;
}

.reset_password form input {
width: 250px;
}
.reset_password form button {
    margin-top: 15px;
}


.registration {
    margin: 30px;
    padding: 0;
}

.registration form {
  width: 100%;
  min-width: 250px;
  max-width: 330px;
  margin: 0 auto;
  margin-top: 15px;
  padding-bottom: 30px;
}

.footer-log {
    margin-top: 15px;
}

.star {
    color:#e6c315;
    font-size: 1.5em;
}

.star.mini {
    font-size: 1rem;
}

.tab-content {
    background-color: wheat;
    margin-bottom: 10px;
    padding-bottom: 15px;
}

.col.book {
    max-width: 180px;
    padding-bottom: 20px;
}

.card-header {
    padding: 5px 15px 0;
}

.icon-link {
    padding-right: 5px;
    font-size: 20px;
}
.icon-link .bi {
    vertical-align: super;
}

.comment {
    width: 550px;
    border: #ff9500 1px solid;
}
.comment.odd {
    background-color: white;
}

.comment.even {
    background-color: #feffd9;
}
.comment .writer {
    padding: 0 8px;
    font-size: 15px;
}

.writer > span {
    padding: 5px;
}

.writer .bi {
    font-size: 20px;
}

.comment .content {
    padding: 0 10px 10px;
}

.cover {
    height: 79px;
}