{% extends "base.html.twig" %}
{% block body %}
<div class="row center">
    <div class="col">
        WELCOME ET BIENVENUE
    </div>
    <div class="col">
        {% include "security/login.html.twig" %}
    </div>
</div>
{% endblock %}