{% extends 'base.html.twig' %}
{% block title %} {{ 'my.books' | trans }} {% endblock %}
{% block body %}
<div class="mt-3">
{% for author in authors %}
    <h3>{{ author.name }}</h3>
    
    {% include "books/list_grid.html.twig" with {'pagination': author.books, 'page': "authors"} %}
{% endfor %}
</div>
{% endblock %}