{% extends "base.html.twig" %}
{% block title %}My {{genre}} books{% endblock %}

{% block body %}
    <h1>My {{genre}} books</h1>
    {% for book in books %}
        <div class="row">
            {{ book.title }} - {{ book.author }}
        </div>
    {% endfor %}
{% endblock %}