{% extends "base.html.twig" %}
{% block title %}My {{author}}'s books{% endblock %}

{% block body %}
    <h1>My {{author}}'s books</h1>
    {% for book in books %}
        <div class="row">
            {{ book.title }} - {{ book.author }}
        </div>
    {% endfor %}
{% endblock %}